$light-color: #fff5e1;
$accent-color: #ffdd98;
$portfolio-stock-color: rgb(174, 228, 255);
$focus-color: #00aaff;
$loader-color: #00aaff;
$loader-size: 10px;
$loader-spacing: 0.2rem;
$desaturated-blue: rgb(85, 150, 183);
$desaturated-blue-hover: rgb(30, 132, 183);

* {
  position: relative;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #111;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

abbr {
  cursor: help;
}

.App {
  display: flex;
  height: 100vh;
}

.main-button {
  background: #111;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 200ms ease;
  
  &:hover {
    background-color: $focus-color;
  }
}

.primary-button {
  background: #111;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  transition: all 200ms ease;
}

.text-button {
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  color: rgb(0, 157, 255);
  margin-left: 0.5rem;
  cursor: pointer;
}

section {
  width: 100%;
}

summary {
  user-select: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.navbar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 99;
}

.display-heading {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
}

#watchlist,
#portfolio {
  padding: 1rem;
  border-radius: 10px;
  transition: all 200ms ease;

  > summary {
    color: rgb(96, 96, 96);
    transition: all 200ms ease;
  }

  .summary-icon {
    margin-right: 0.5rem;
    font-size: 0.7rem;
    transition: all 200ms ease;
  }

  &[open] > summary {
    color: inherit;
  }

  &[open] .summary-icon {
    transform: rotate(90deg);
  }
}

#watchlist {
  padding-bottom: 60px;
}

#portfolio summary {
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
}


::-webkit-scrollbar {
  width: 0;
}

aside {
  min-width: 350px;
  height: 100%;
  overflow-y: scroll;
  width: fit-content;
  background: rgba(17, 17, 17, 0.062);

}

// Form

.form-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #fff url('https://source.unsplash.com/weekly') no-repeat center / cover;
}

.form-container {
  min-width: 500px;
  width: 40%;
  margin: 0 auto;
  transform: translateY(45vh);
  transition: all 500ms ease;
}

.note {
  margin: 1rem 0.5rem;
  color: #fff;
  font-size: 0.85rem;
}

#search-form {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#search-form .main-button {
  background: $desaturated-blue;
  color: #fff;

  &:hover {
    background: $desaturated-blue-hover;
  }
}

#search-stock-input {
  width: 100%;
  border: 2px solid transparent;
  outline: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: all 200ms ease;
  
  &:focus {
    border-color: $focus-color;
  }
}

// Search matches

.search-match-item {
  margin: 0.5rem 0;
  border-radius: 10px;
  background: #fff;
  user-select: none;
  cursor: pointer;
  transition: all 100ms ease;

  &:hover {
    background: $accent-color;
  }

  details[open] {
    background: $light-color;
    border-radius: 10px;
  }

  form {
    padding: 1rem 0.5rem;
  }

  .holder-group {
    margin: 1rem 0;
  }

  summary {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
  }
}

#stockholder-form {
  input[type=checkbox] {
    margin-right: 0.5rem;
    box-shadow: none;
  }

  .checkbox-wrapper {
    display: flex;
  }
}

input,
label {
  display: block;
}

label {
  font-size: 0.8rem;
  color: grey;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

input {
  padding: 0.4rem;
  border: none;
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.5);
  border-radius: 3px;
}

input:not(:last-of-type) {
  margin-bottom: 1rem;
}

// Stock

.stock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0;
  min-height: 50px;
  border-left: 5px solid $accent-color;
  background: #fff;
  box-shadow: 0 0 10px rgba(201, 201, 201, 0.49);
  border-radius: 10px;
  user-select: none;
  transition: all 250ms ease;
  
  .stock-heading {
    cursor: pointer;

    h3 {
      margin-bottom: 0.2rem;
    }
    
    .positive-change {
      color: lightseagreen;
    }
    
    .negative-change {
      color: tomato;
    }
  }
  
  .stock-name {
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
    color: grey;
    white-space: nowrap;
    max-width: 22ch;
    height: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 200ms ease;
  }
  
  .asset-type {
    font-size: 0.8rem;
    font-weight: normal;
    color: grey;
    opacity: 0;
    display: block;
    transition: all 200ms 100ms ease;
  }
  
  &:hover {
    min-height: 120px;
    
    .stock-name,
    .asset-type {
      opacity: 1;
    }
    
    .stock-name {
      display: block;
      height: 16px;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
  
  &:hover {
    background: $accent-color;
  }

  &:hover .delete-button {
    opacity: 1;
  }

  .stock-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .stock-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .stock-quote {
      display: flex;
      align-items: flex-end;
    }

    .daily-change {
      font-size: 0.7rem;
      margin-right: 0.5rem;
    }
  }

  .delete-button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms ease;

    &:before {
      content: 'Remove';
      margin-right: 0.5rem;
      opacity: 0;
      transition: opacity 200ms ease;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  p {
    margin-top: 1rem;
  }
}

.portfolio-stock {
  border-color: $portfolio-stock-color;
  
  &:hover {
    background: $portfolio-stock-color;
  }
}

// Message popup

@keyframes popup-in {
  from {right: -300px}
  to {right: 0}
}

@keyframes popup-out {
  from {right: 0}
  to {right: -300px}
}

#message-popup {
  position: fixed;
  top: 1rem;
  right: -300px;
  color: #fff;
  padding: 1.5rem 2rem;
  transition: all 400ms ease;
  z-index: 999;

  &.message-popup-success,
  &.message-popup-error {
    animation: popup-in 400ms ease forwards, popup-out 400ms 3600ms ease forwards;
  }
  
  &.message-popup-success {
    background: lightseagreen;
    right: 0;
  }
  
  &.message-popup-error {
    background: tomato;
    right: 0;
  }
}

// Toggle list button

.toggle-list {
  border: none;
  outline: none;
  background: none;
  height: 10px;
  width: 10px;
  border-width: 0 2px 2px 0;
  border-color: rgb(176, 176, 176);
  border-style: solid;
  transform: rotate(-135deg);
  cursor: pointer;
  transition: all 100ms ease;
}

.toggle-list-hidden {
  transform: rotate(45deg);
}

// Stock button

.add-stock-button {
  position: fixed;
  bottom: 0;
  min-width: 350px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 0;
  background: $desaturated-blue;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background: $desaturated-blue-hover;
  }

  &:before {
    content: 'Add Stock';
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    background: #111;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    opacity: 0;
    transition: all 300ms ease;
  }

  &:hover:before {
    opacity: 1;
  }
}

// Stock preview

#stock-preview-wrapper {
  padding: 2rem 4rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &.center-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h1 {
      font-size: calc(2vw + 10px);
      margin-bottom: 0.5rem;
    }
    
    h2 {
      font-size: 1.5rem;
      color: grey;
    }
  }

  .details-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .section-heading {
    margin-bottom: 3rem;
  }
  
  .tables-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .quote-price {
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    border-left: 5px solid $accent-color;
    box-shadow: 0 0 3px lightgrey;
  }
  
  table {
    border-collapse: collapse;

    th {
      text-align: left;
    }
  
    tr:nth-last-child(even) {
      background: $light-color;
    }
  
    td,th {
      padding: 0.8rem 0.5rem;
    }
  
    td:last-of-type {
      text-align: right;
    }
  }
  
  #company-description {
    line-height: 1.8;
  }

  .preview-section-title {
    margin-bottom: 2rem;
  }

  #company-meta,
  .quote-price {
    margin-bottom: 4rem;
  }

  .overview-row {
    display: flex;
    align-items: center;
    color: rgb(135, 135, 135);
    font-weight: 600;

    img {
      margin-right: 0.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

#portfolio-form {
  height: 0;
  overflow: hidden;

  &.shown {
    height: auto;
    overflow: auto;
  }
}

// Stock data

.content-grid {
  display: flex;
  justify-content: space-between;
}

.stock-day {
  color: grey;
}

.stock-price {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  
  b {
    font-size: 2.5rem;
    margin-right: 1rem;
  } 
}

.stock-day-fluctuation {
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.positive-change {
  color: green;
}

.negative-change {
  color: red;
}

// Loader

@keyframes loader {
  from, to {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(0px);
  }
}

#loader {
  display: flex;

  > div {
    margin: 0 $loader-spacing;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
    background: $loader-color;
    animation: loader 1.5s ease infinite;
  }

  >div:nth-child(2) {
    animation-delay: 100ms;
  }
  >div:nth-child(3) {
    animation-delay: 200ms;
  }
}

// Portfolio view

.portfolio-wrapper {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;

  header {
    margin-bottom: 4rem;
  }
}

.portfolio-heading {
  margin-bottom: 2rem;
}

.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba($color: #111, $alpha: 0.1);

  &:first-of-type {
    margin-bottom: 4rem;
  }

  &:last-of-type {
    td {
      font-weight: 600;
      text-align:right;
    }
  }
  
  thead {
    background: $accent-color;
  }

  tfoot {
    font-weight: 600;
  }

  tr:nth-child(even) {
    background: $light-color;
  }

  td, th {
    padding: 1rem 1.5rem;
    text-align: right;
  }

  th:first-child {
    text-align: left;
  }

  td:first-child,
  td:nth-child(2) {
    text-align: left;
  }
}

// Api timer

.api-timer {
  background: $accent-color;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 2.5rem;
  font-size: 2rem;
  z-index: 99;

  small { font-size: 1rem; }

  p { text-align: right; }
}